li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;

    :visited{
        color: black;
    }
}

header{
    display: flex;
    padding: 0 2vw;
    width: 97%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

    .top {
        display: flex;
        width: 600px;
        justify-content: space-between;
        padding: 20px;
        float: right;
        align-items: center;
    
        button{
            background-color: #FFFFFF;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 3px 5px;
        }

    }
    

    .logo{
        width: fit-content;

        img{
            padding-right: 0;
        }
    }

}

.top-banner{
    width: 100%;
    height: fit-content;
    display: flex;
    background-image: url('../src/2024_august_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    
    img{
        padding: 8% 0;
    }

    .solgan{
        width: 13.1%;
        padding: 5vw 4vw 0 0;
        text-align: center;

        img{
            width: 100%;
        }

    }

    .drink1{
        width: 13.6vw;
    }
    .drink2{
        width: 14.1vw;
    }
    .drink3{
        width: 13.4vw;
    }
    .drink4{
        width: 19.95vw;
        padding-bottom: 8vw;
    }

    button{
        background-color: transparent;
        border-radius: 5px;
        margin: 0 auto;
    }
    
}

.menu{
    justify-content: space-between;
    float: right;
    margin-right: 5vw;
    width: max-content;
    position: relative;

    ::after{
        display: block;
        content: '';
        clear: both;
    }
}

.menu > li{
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu > li:hover .depth {display: block;}

.menu > li > a{
    display: block;
    width: max-content;
    padding: 20px;
    padding-top: 0;
}


.menu .depth{
    display: none;
    text-align: center;

    li a{
    color: #FFFFFF;
    }
}

.menu > li > div{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    display: block;
    width: 100vw;
}


.depth > ul {
    display: flexbox;

}

.menu > li > div {
    position: absolute;
    width: max-content;
    display: flex;
}

.mobile-header{
    /* justify-content: flex-end; */
    display: inline-block;
    img{
        padding: 10px;
    }
}


.web-btn{
    color: #036243;
    border: 2px solid #036243;
    font-size: 13px;
    padding: 8px 20px;
    display: block;
}

.mobile-btn{
    color: #1d227d;
    border: 2px solid #1d227d;
    padding: 15px 50px;
    font-size: 2vw;
    display: block;
}

@media screen and (max-width: 960px){
    .find-store-web{
        display: none;
    }
    .middle-coffee-container{
        display: none;
    }
    .middle-bean-container{
        display: none;
    }
    .web-header{
        display: none;
    }
    .web-btn{
        display: none;
    }
    .logo > img{
        width: 45px;
        height: 45px;
        padding: 10px;
    }
    .top-banner{
        display: block;
        background-image: url('../src/2024_august_bg_m.jpg');
        /* background-size: contain; */
        background-size: 100% 100%;
        /* align-items: center; */
        height: max-content;
        padding: 10px;
        padding-bottom: 10%;

        .solgan{
            width: 40vw;
            padding: 70px 0 0 20vw;

            img{
                width: 100%;
            }
        }

        .drink1{
            width: 70vw;
            padding-left: 20vw;
        }
        .drink2{
            width: 60vw;
            padding-left: 20vw;

        }
        .drink3{
            width: 67vw;
            padding-left: 25vw;

        }
        .drink4{
            width: 65vw;
            padding-left: 20vw;
            margin-bottom: 10vw;
        }
        img{
            display: block;
            padding: 1px;
        }
        .drinks{
            display: block;
        }

    }


}

@media screen and (min-width: 960px){
    .mobile-header{
        display: none;
    }
    .mobile-btn{
        display: none;
    }

    .logo > img{
        padding: 20px 10px;
    }

    .middle-coffee-container-mobile{
        display: none;
    }

    .middle-bean-container-mobile{
        display: none;
    }

    .august-pick-container-mobile{
        display: none;
    }

    .reserve-img-mobile{
        display: none;
    }

    .find-store-mobile{
        display: none;
    }

    .middle-coffee-container{

        text-align: center;
        .btn-black{
            margin-left: -4vw;
            margin-bottom: 3vw;
            color: #be771a;
            border-color: #be771a;
            font-size: 13px;
            width: 110px;
            height: 35px;
        }
    }
}

.space-box{
    width: 50%;
}

.outer-middle-banner{
    background-color: #1e3932;
    width: 100%;

}

.middle-banner{
    color: #FFFFFF;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;

    img{
        padding-right: 20px;
        padding: auto 0;
    }
    
    span{
        display: inline-block;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    div{
        padding: 5px 0;

    }

    .login-btn{
        margin-top: 10px;
    }
}

.space-box{
    width: 100%;
}

.content-box{
    width: 70%;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ment-box-small{
    font-size: 13px;
}

.btn-box{
    margin: auto 0;
    float: right;
}

.join-btn{
    background-color: #00704a;
    color: #FFFFFF;
    border: 2px solid #00704a;
    box-shadow: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
}

.login-btn{
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 5px 15px;
    border-radius: 5px;
    width: max-content;
}

@media screen and (max-width: 1020px){
    .banner-container{
        display: inline-block;
    }
    .btn-box{
        float: left;
    }
}

.middle-bean-container{
    background-image: url('../src/25th_summer_bean_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;

    #bean{
        margin-top: 40px;
        margin-left: 80px;
    }

    #bean-text{
        margin-bottom: 120px;
    }
}

.bean-box-web{
    align-items: center;
    display: flex;

    .btn-black{
        float: left;
        border: 2px solid black;

    }
}

.btn-black{
    background: transparent;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 20px;
    height: fit-content;

}

.bean-box-web > div{
    display: block;
}

.middle-coffee-container{
    /* height: 400px; */
    background-image: url('../src/240521_pc_reserve_bg_1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
    /* background-position: center; */
    position: relative;
}

.coffee-img-container{
    width: 100%;

    img{
        width: 100%;
    }
}

.cofee-text-img{
    float: left;
    object-fit: contain;
    width: 50%;
}


.cofee-text-img-container{
    position: absolute;
    /* top: -10vw;
    left: 50%; */
    width: 50%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.middle-coffee-container-mobile{
    width: 100%;
    img{
        width: 100%;
    }
}

.middle-bean-container-mobile{
    background-image: url('../src/25th_summer_bean_bg_m.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 165vw;

    
}

.bean-box-mobile{
    background-size: cover;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    img{
        width: 70vw;
    }
    
    .btn-black{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        width: 50vw;
        margin-top: 5vw;
        /* margin-right: 5vw; */
    }
}

.bean-box-mobile > div{
    top: 50%;
    left: 50%;
}

#bean{
    padding-left: 80px;
}

.august-pick-container-mobile{
    background-image: url('../src/2024_august_pick_bg_m.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 234vw;
    overflow: hidden;
    text-align: center;
    position: relative;


    img{
        width: 110vw;
        position: absolute;
        top: 12%;
        left: -5%;
    }

    .btn-black{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        width: 40vw;
        position: absolute;
        bottom: 15vw;
        left: 32vw;
    }
}

.august-pick-text{
    align-items: center;
    position: absolute;
    top: 70%;
    left: 10%;
    align-items: center;

    img{
        width: 58vw;
        position: relative;
    }

    :first-child{
        padding-bottom: 7vw;
    }
}

.reserve-img-mobile{
    width: 100%;

    img{
        width: 100%;
    }
}

.find-store-mobile{
    background-image: url('../src/store_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: fit-content;
    /* height: 90vw; */
    width: 100%;
    /* position: relative; */
    align-items: center;
    text-align: center;
    padding-bottom: 10vw;
}

.store-img-box{
    position: relative;
    width: max-content;
}

.store-text-box{
    padding-top: 400px;
    /* padding-left: 100px; */
    align-items: center;

}

.find-store-container{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;

    button{
        border: 2px solid #000000;
        padding: 10px 30px;
        font-size: 15px;
        bottom: 15vw;
        left: 32vw;
        font-weight: 600;
        border-radius: 3px;
        margin-top: 10px;
        /* margin-left: ; */
    }

}

#reserve-img-1{
    position: absolute;
    /* top: -5vw; */
    left: 10px;
    width: 300px;

    img{
        width: 100%;
    }
}

#reserve-img-2{
    position: absolute;
    top: 150px;
    left: 240px;
    width: 200px;

    img{
        width: 100%;
    }
}

#reserve-txt-1{
    width: 400px;
    img{
        width: 100%;
    }
    padding-bottom: 15px;
}

#reserve-txt-2{
    width: 400px;
    img{
        width: 100%;
    }
    padding-bottom: 15px;
}



.middle-coffee-container-mobile{
    background-image: url("../src/240521_m_reserve_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 165vw;
    position: relative;

    .btn-black{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        width: 40vw;
        position: absolute;
        padding: 3vw 5vw;
        bottom: 15vw;
        left: 32vw;
        z-index: 2;
    }
}

#bean-bg{
    position: absolute;
    top: 250px;
    left: 30px;
    width: 230px;
}

#store-bg{
    position: absolute;
    z-index: 0;
    width: 200px;
    bottom: -10vw;
    right: -10vw;
}

.find-store-web{
    .find-store-container{
        display: block;
    }

    .store-text-box{
        padding-top: 0;
    }

    #reserve-img-1{
        left: -10vw;
    }

    #reserve-img-2{
        left: -10vw;
    }
    
}

/* ---------- NOTICE ---------- */

.off{
    display: none;
}

.notice .notice-line{

}

.notice .notice-line .notice-left{

}

.notice .notice-line .notice-right{
    
}

.notice .notice-line .inner{
    height: 62px;
    display: flex;
}

.notice .notice-line .inner .inner-left{
    width: 50%;
    color: #fff;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice .notice-line .inner .inner-left .inner-left-text{

}

.notice .notice-line .inner .inner-left h2{

}

.notice .notice-line .inner .inner-left .swiper{
    height: 62px;
    margin: 0 20px;
}
.notice .notice-line .inner .inner-left .swiper .swiper-slide{
    height: 62px;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner .inner-left .swiper .swiper-slide a{
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice .notice-line .inner .inner-left .material-symbols-outlined{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
}

.notice .notice-line .inner .inner-right{
    width: 50%;
    display: flex;
    align-items: center;
    color: #333;
    justify-content: space-between;
} 


.notice .notice-line .inner .inner-left h2{
    margin-left: 20px;
}


.notice .notice-line .inner .inner-right .material-symbols-outlined{
    color: #333;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 20px;
    padding: 5px;
}

/* NOTICE PROMOTION */
.notice .promotion{
    background-color: #f6f6ee;
    height: 700px;
    overflow: hidden;
}

.notice .promotion .swipe{
    width: calc(819px * 3 + 30px);
    height: 553px;
    position: absolute;
    left: 50%;
    margin-left: calc((819px * 3 + 30px)/-2);
}

.notice .promotion .swipe .swiper-wrapper{
    display: flex;
}